svg#logo(viewbox='0 0 5567 6385', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g(fill='none', fill-rule='evenodd', stroke-linecap='round', transform='translate(3193.342972, 3192.657028) rotate(-43.000000) translate(-3193.342972, -3192.657028) translate(148.342972, 147.657028)')
    path#Stroke-1(d='M3044.4,6088.75 C1363.05,6088.75 0,4725.7 0,3044.35 C0,1363 1363.05,0 3044.4,0 C4725.75,0 6088.8,1363 6088.8,3044.35', stroke='#2F2547', stroke-width='295')
    path#Stroke-3(d='M3044.95,5585 C1642.15,5585 505,4447.8 505,3045 C505,1642.25 1642.15,505 3044.95,505 C4097.05,505 4999.75,1144.7 5385.3,2056.35', stroke='#9A5786', stroke-width='310')
    path#Stroke-5(d='M3023.4,5061.8 C1908.7,5061.8 1005,4158.15 1005,3043.4 C1005,1928.65 1908.7,1025 3023.4,1025 C3624,1025 4163.35,1287.35 4533.05,1703.65', stroke='#88CCE1', stroke-width='325')
    path#Stroke-9(d='M2957.25,4514.55 C2146.9,4514.55 1490,3857.6 1490,3047.25 C1490,2236.9 2146.9,1580 2957.25,1580 C3131.85,1580 3299.35,1610.5 3454.65,1666.45', stroke='#FFBB61', stroke-width='340')
