svg(viewbox='0 0 440 472', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
  g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g(transform='translate(50.000000, 50.000000)')
      path#Stroke-1(d='M52.7204,52.7216 C123.0164,-17.5744 236.9844,-17.5744 307.2804,52.7216 C377.5724,123.0136 377.5724,236.9856 307.2804,307.2816 C236.9844,377.5736 123.0124,377.5736 52.7204,307.2816 C-17.5756,236.9856 -17.5716,123.0136 52.7204,52.7216 L52.7204,52.7216 Z', stroke='#88CCE1', stroke-width='60')
      path#Stroke-3(d='M52.7204,307.28 C-17.5756,236.984 -17.5716,123.016 52.7204,52.72 C123.0164,-17.572 236.9844,-17.572 307.2804,52.72', stroke='#FFBB61', stroke-width='100')
      path#Stroke-5(d='M307.2792,307.28 C236.9872,377.572 123.0152,377.572 52.7192,307.28 C-17.5728,236.984 -17.5728,123.016 52.7192,52.72', stroke='#FF7543', stroke-width='52')
      path#Stroke-7(d='M307.2792,307.28 C236.9872,377.572 123.0152,377.572 52.7192,307.28', stroke='#BA448D', stroke-width='124')
