svg#logo(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 2772 620')
  g#ctdi(transform="translate(3, 2.6)")
    g#text(transform="translate(616,45)" font-size="250" font-family="Gotham Rounded" line-spacing="288" font-weight="200")
      text#initiative(fill="#002437")
        tspan(x="1120" y="488").
          initiative
      text#diversity(fill="#EDB331")
        tspan(x="0" y="488").
          diversity
      text#tech(fill="#002437")
        tspan(x="1045" y="200").
          tech
      text#chicago(fill="#002437")
        tspan(x="0" y="200").
          chicago
    g#logo(transform="translate(308.000000, 310.399994) scale(-1, 1) translate(-308.000000, -310.399994) translate(0.000000, 0.399994)" stroke-width="5" stroke-linecap="round" stroke-linejoin="round")
      path(d="M154.019998,464.699982 L307.899994,619.539978 L0.140001175,619.539978 L154.019998,464.699982 L154.019998,464.699982 Z" id="Shape" stroke="#90ABBD" fill="#90ABBD" transform="translate(154.019998, 542.119980) scale(-1, 1) translate(-154.019998, -542.119980)")
      path(d="M307.88001,464.720001 L461.76001,619.560001 L154.00001,619.560001 L307.88001,464.720001 L307.88001,464.720001 Z" id="Shape" stroke="#35647E" fill="#35647E" transform="translate(307.880010, 542.140001) scale(-1, -1) translate(-307.880010, -542.140001)")
      path(d="M307.88,309.880005 L461.76,464.720005 L154,464.720005 L307.88,309.880005 L307.88,309.880005 Z" id="Shape" stroke="#002437" fill="#002437" transform="translate(307.880000, 387.300005) scale(-1, 1) translate(-307.880000, -387.300005)")
      path(d="M461.88,309.899994 L615.76,464.739994 L308,464.739994 L461.88,309.899994 L461.88,309.899994 Z" id="Shape" stroke="#F4DC44" fill="#F4DC44" transform="translate(461.880000, 387.319994) scale(-1, -1) translate(-461.880000, -387.319994)")
      path(d="M461.937139,155 L615.817139,309.84 L308.057139,309.84 L154.24,155 L461.937139,155 Z" id="Shape" stroke="#EDB331" fill="#EDB331" transform="translate(385.028569, 232.420000) scale(-1, -1) translate(-385.028569, -232.420000)")
      path(d="M308.12,0.100006104 L462,154.940006 L154.24,154.940006 L308.12,0.100006104 L308.12,0.100006104 Z" id="Shape" stroke="#E55920" fill="#E55920" transform="translate(308.120000, 77.520006) scale(-1, 1) translate(-308.120000, -77.520006)")
      path(d="M308.130005,154.950001 L0.370004883,154.950001 L154.250005,0.11000061 L308.130005,154.950001 Z" id="Shape" stroke="#C52718" fill="#C52718" transform="translate(154.250005, 77.530001) scale(-1, -1) translate(-154.250005, -77.530001)")

