svg#logo-and-text(viewbox='0 0 511 288', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  g#logo-and-text(transform='translate(-50.000000, -50.000000)', stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
    g#logo(transform='translate(194.000000, 194.000000) rotate(-43.000000) translate(-194.000000, -194.000000) translate(57.000000, 57.000000)', stroke-linecap='round')
      path#Stroke-1(d='M136.973005,273.94376 C61.3260591,273.94376 -5.68434189e-14,212.617701 -5.68434189e-14,136.970755 C-5.68434189e-14,61.3238095 61.3260591,-5.68434189e-14 136.973005,-5.68434189e-14 C212.619951,-5.68434189e-14 273.94601,61.3238095 273.94601,136.970755', stroke='#62577F', stroke-width='13.275')
      path#Stroke-3(d='M136.99775,251.279146 C73.8832677,251.279146 22.7208539,200.114483 22.7208539,137 C22.7208539,73.8877668 73.8832677,22.7208539 136.99775,22.7208539 C184.333612,22.7208539 224.947701,51.5021018 242.294286,92.518867', stroke='#9A5786', stroke-width='13.95')
      path#Stroke-5(d='M136.028177,227.739442 C85.8758292,227.739442 45.2167488,187.082611 45.2167488,136.928013 C45.2167488,86.7734154 85.8758292,46.1165846 136.028177,46.1165846 C163.050246,46.1165846 187.316568,57.9201806 203.950033,76.6502627', stroke='#88CCE1', stroke-width='14.625')
      path#Stroke-9(d='M133.05197,203.117685 C96.5928736,203.117685 67.0377668,173.560328 67.0377668,137.101232 C67.0377668,100.642135 96.5928736,71.0870279 133.05197,71.0870279 C140.907537,71.0870279 148.443662,72.4592775 155.430887,74.9765681', stroke='#FFBB61', stroke-width='15.3')
    text#text(font-family='Yuanti TC', font-size='200', font-weight='normal', line-spacing='220')
      tspan(x='332', y='125', fill='#9A5786') c
      tspan(x='361.34', y='125', fill='#62577F') hicago
      tspan(x='332', y='190', fill='#9A5786') t
      tspan(x='356.9', y='190', fill='#62577F') ech
      tspan(x='332', y='255', fill='#9A5786') d
      tspan(x='365.3', y='255', fill='#62577F') iversity
      tspan(x='332', y='320', fill='#9A5786') i
      tspan(x='346.46', y='320', fill='#62577F') nitiative
