svg#lines(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 731.85 560')
  defs
    style.
      #lines rect {
        fill: none;
        stroke: none;
      }
      #lines path {
        fill: none;
        stroke-linecap: square;
        stroke-linejoin: miter;
        stroke-miterlimit: 4;
      }
      #p1 > path {
        stroke: #E55920;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3px;
      }
      #p2 > path {
        stroke: #EDB331;
        stroke-width: 4px;
      }
      #p3 > path {
        stroke: #35647E;
        stroke-width: 4px;
        stroke-dasharray: 33.84999847412109,20.89999961853027;
        stroke-dashoffset: 14;
      }
      #p4 > path {
        stroke: #90ABBD;
        stroke-width: 4x;
      }
      #p5 > path {
        stroke: #C52718;
        stroke-width: 2px;
      }
      #p6 > path {
        stroke: #002437;
        stroke-width: 3px;
      }
      #p7 > path {
        stroke: #F4DC44;
        stroke-width: 4px;
      }
      .mask-path {
        stroke: #fff;
        stroke-width: 10px;
      }
      .mask-path,
      .cls-3 {
        stroke-miterlimit: 10;
      }
  rect.cls-1(width='731.85', height='560')
  g#p7
    path#p7-p.cls-3(mask='url(#p7-mm)', d='M238.5,3V121.87a19.63,19.63,0,0,1-19.63,19.63H184.61a19.11,19.11,0,0,0-19.11,19.11V323A17.51,17.51,0,0,0,183,340.5h39')
    mask#p7-mm
      path#p7-m.mask-path(d='M238.5,3V121.87a19.63,19.63,0,0,1-19.63,19.63H184.61a19.11,19.11,0,0,0-19.11,19.11V323A17.51,17.51,0,0,0,183,340.5h39')
  g#p6
    path#p6-p.cls-3(mask='url(#p6-mm)', d='M67.5,0V143.12A20.38,20.38,0,0,0,87.88,163.5H313')
    mask#p6-mm
      path#p6-m.mask-path(d='M67.5,0V143.12A20.38,20.38,0,0,0,87.88,163.5H313')
  g#p5
    path#p5-p.cls-3(mask='url(#p5-mm)', d='M0,268.5H189.27a22.23,22.23,0,0,0,22.23-22.23v-39a18.8,18.8,0,0,1,18.8-18.8H284')
    mask#p5-mm
      path#p5-m.mask-path(d='M0,268.5H189.27a22.23,22.23,0,0,0,22.23-22.23v-39a18.8,18.8,0,0,1,18.8-18.8H284')
  g#p4
    path#p4-p.cls-3(mask='url(#p4-mm)', d='M0,25.5H113.94A24.56,24.56,0,0,1,138.5,50.06V60A22.46,22.46,0,0,0,161,82.5H262.25a21.25,21.25,0,0,1,21.25,21.25V172')
    mask#p4-mm
      path#p4-m.mask-path(d='M0,25.5H113.94A24.56,24.56,0,0,1,138.5,50.06V60A22.46,22.46,0,0,0,161,82.5H262.25a21.25,21.25,0,0,1,21.25,21.25V172')
  g#p3
    path#p3-p.cls-3(mask='url(#p3-mm)', d='M32.62,2.5V186.76A27.24,27.24,0,0,0,59.85,214H216.38a27.24,27.24,0,0,1,27.24,27.24v11.52A27.24,27.24,0,0,0,270.85,280h70.26')
    mask#p3-mm
      path#p3-m.mask-path(d='M32.62,2.5V186.76A27.24,27.24,0,0,0,59.85,214H216.38a27.24,27.24,0,0,1,27.24,27.24v11.52A27.24,27.24,0,0,0,270.85,280h70.26')
  g#p2
    path#p2-p.cls-3(mask='url(#p2-mm)', d='M108.5,3V217.13a23.37,23.37,0,0,0,23.37,23.37h36.26a23.37,23.37,0,0,1,23.37,23.37v86.26a23.37,23.37,0,0,0,23.37,23.37H277')
    mask#p2-mm
      path#p2-m.mask-path(d='M108.5,3V217.13a23.37,23.37,0,0,0,23.37,23.37h36.26a23.37,23.37,0,0,1,23.37,23.37v86.26a23.37,23.37,0,0,0,23.37,23.37H277')
  g#p1
    path#p1-p.cls-3(mask='url(#p1-mm)', d='M207.5,3V103.46a19,19,0,0,1-19,19h-84a19,19,0,0,0-19,19V294A19.5,19.5,0,0,0,105,313.5H255')
    mask#p1-mm
      path#p1-m.mask-path(d='M207.5,3V103.46a19,19,0,0,1-19,19h-84a19,19,0,0,0-19,19V294A19.5,19.5,0,0,0,105,313.5H255')
