/*
@use postcss-write-svg;
@use postcss-transform-shortcut;
@use postcss-for;
@use postcss-each;
@use postcss-conditionals;
@use postcss-media-minmax;
@use postcss-custom-media;
 */

/*@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-nested;
*/

/* @import '../css/milligram.css'; */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,400italic,500italic,300,300italic);
/* @import 'sanitize.css';
@import 'morphing_buttons_component.css'; */


/* @import 'content.css';
@import 'demo.css'; */


/*@use postcss-import;
@use cssnext;
@use postcss-simple-vars;
@use postcss-nested;
*/
@use lost;
/* @lost gutter 60px; */
/* @lost flexbox flex; */
/* @lost cycle none; */

@custom-media --small (width <= 420px);
@custom-media --medium (width >= 420px);
@custom-media --mediumLarge (width <= 750px);
/* @custom-media --mid2medium (  width >= 420px) and (width <= 750px); */
/* @custom-media -- */
@custom-media --mediumLargeUp (width >= 750px);
@custom-media --1080low (width <= 1080px);
@custom-media --1200low (width <= 1200px);
@custom-media --large (width >=1280px);
:root {
  --fontSize: 1rem;
  --fontWeight: 300;
  --fontWeightBold: 600;
  --fontFamily: 'Roboto';
  /* --fontFamily: 'Roboto'; */
  --fontFamily: "freight-sans-pro";
  --fontFamilyFenwick: "fenwick";
  --mainColor: #12345678;
  --highlightColor: #4B5166;
  /* <-- change the color ! */
  --fontSize: 1rem;
  --marginUnit: .6rem;
  /* color palette :: https://coolors.co/app/d63c6b-5cc8ff-efefef-292f36-d6d6d6 */
  --white: #efefef;
  --white-alpha: rgba(239, 239, 239, .64);
  --grey: #d6d6d6;
  --gray: var(--grey);
  --black: #292f36;
  --tomato: #9A5786;
  --pure-black: #131313;
  --pure-black-alpha: rgba(19, 19, 19, .64);
  --pure-black-alpha-light: rgba(19, 19, 19, .24);
  --pure-black-alpha-transparent: rgba(19, 19, 19, .12);
  --darkestPurple: #1B1823;
  --primary: #d63c6b;
  --primary-dk: #c41c4f;
  --accent: #5cc8ff;
  --accent-dk: #00a3f5;
  --transition: 300ms;
  --easing: cubic-bezier(1, 1, 1, 1);
  --borderRadius: 3px;
  --rosequartz: rgb(247, 202, 201);
  --serenity: rgb(146, 168, 209);
  --white: rgba(255, 255, 255, .5);
  --green: #22b573;
  --grey: #555;
  --transitionSpeed: 200ms;
  --paleBlue: #94B7C3;
}

/* // Solid and Hollow buttons mixin by the @poopsplat */

@define-mixin buttons $background {
  /* white: white; */
  padding: .7em;
  line-height: 1em;
  display: inline-block;
  transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 3px solid rgba(255, 255, 255, 0);
  color: white;
  background: $background;
  &:hover,
  &:focus,
  &:active {
    color: $background;
    background: white;
    border-color: $background;
  }
  &.-hollow {
    background: none;
    color: $background;
    border: 3px solid $background;
    &:hover,
    &:focus,
    &:active {
      color: white;
      background: $background;
    }
  }
}


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-arrows:before {
  content: "\f100";
}

.flaticon-arrows-1:before {
  content: "\f101";
}

.flaticon-arrows-2:before {
  content: "\f102";
}

.flaticon-arrows-3:before {
  content: "\f103";
}

.flaticon-arrows-4:before {
  content: "\f104";
}

.flaticon-circle:before {
  content: "\f105";
}

.flaticon-circle-1:before {
  content: "\f106";
}

.flaticon-circle-2:before {
  content: "\f107";
}

.flaticon-close:before {
  content: "\f108";
}

.flaticon-cross:before {
  content: "\f109";
}

.flaticon-delete:before {
  content: "\f10a";
}

.flaticon-shapes:before {
  content: "\f10b";
}

.bolder {
  font-weight: 400;
}

body {
  background-color: #F9F9F9;
  color: #5a5656;
  font-family: var(--fontFamily);
  font-size: responsive;
  font-weight: var(--fontWeight);

   /* lost-utility: edit; */
}

.MainContent {
  @neat-outer-container;
  /* @neat-show-grid; */
}

h1, h2, h3 {
  font-family: "fenwick";
  }

h2 {
  font-size: responsive 18px 34px;
  /*font-weight: var(--fontWeight);*/
  font-weight: 400;
  strong {
    font-weight: 700;
  }
}

body > section {
  /* @neat-span-columns 12; */
  overflow: hidden;
}

strong {
  font-weight: var(--fontWeightBold);
}

.Intro {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background: var(--darkestPurple);
  color: color(var(--darkestPurple) lightness(+30));
}

.Intro-text {
  @neat-span-columns 9;
  @neat-shift 1.5;
  strong {
    color: color(var(--darkestPurple) lightness(+40));
  }
}

.Intro-text h2 {
  padding: 1em 0;
}

#logo-and-text {
  position: absolute 2em 3em auto auto;
  width: 150px;
}




/*===================================
=            FAQ SECTION            =
===================================*/
.Faq {
  /* lost-align: center; */
  /* max-height: 800px; */
    padding: 2em 0;
}

.Faq-wrapper {

  @neat-span-columns 10;
  @neat-shift 1;
  /* padding: 2em; */
/*   -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em; */
  columns: auto 3;
  column-gap: 2.5em;

  @media (--1200low) {
    @neat-span-columns 11;
    @neat-shift 0.5;
  }

  @media (--1080low) {
    columns: auto 2;
  }
  @media (--mediumLarge) {
    columns: auto 1;
  }

}

.Faq-item {
  display: inline-block;
  margin-bottom: 1.5em;
  /* margin: 0.25rem; */
  /* padding: 1rem; */
  width: 100%;
  p {
    margin-bottom: 1em;
  }
  li {
    margin-left: 1.5em;
    margin-bottom: 1em;
    b {
      font-weight: 600;
    }
  }
}

.Faq-question {
  font-family: var(--fontFamilyFenwick);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: .5em;
}

.Faq-answer {
  font-size: responsive 15px 17px;
  padding: .3em;
}










/* .Accordion-wrapper {
  height: 100%;
  min-height: 400px;
  lost-center: 1180px;
  lost-flex-container: row;
  padding-top: 2em;
  @media (--mediumLargeUp) {
    padding: 1em;
  }
  @media (--medium) and (--mediumLarge) {
    padding: 2em;
  }
  @media (--small) {
    padding: 1em;
  }
}

.Accordion {
  lost-waffle: 1/3 column;

  .Accordion-question {
    color: color(var(--tomato) lightness(+40));
    padding: 1em;
    text-transform: uppercase;
    font-family: "Roboto";
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
  }

  .Accordion-answer {
    transition: all 200ms ease;
    background: color(#d8bcd0 alpha(-40%));
    padding: 1em;
    margin-top: 1em;
    p {
      margin-bottom: 1em;
    }

    li {
      margin-left: 1em;
    }
  }
  @media (--medium) and (--mediumLarge) {
    lost-waffle: 1/2 column;
  }
  @media (--small) {
    lost-waffle: 1/1;
  }
}



.Accordion {
  .Accordion-question {
    background: color(var(--tomato) lightness(-20) saturation(+20));
  }
  .Accordion-answer {
    overflow: hidden;
    max-height: 500px;
    height: auto;
    opacity: 1
  }
}

.Accordion.closed {
  .Accordion-question {
    background: var(--tomato);
  }
  .Accordion-answer {
    max-height: 0;
    opacity: 0;
  }
}
 */

/*=====  End of FAQ SECTION  ======*/




/*=================================
=            Join Form            =
=================================*/

.Join {
  background: var(--tomato);
}

.Join-form {
  #enter-email {
    margin: 60px auto 20px;
    max-width: 300px;
  }
  fieldset {
    padding-bottom: 20px;
  }
  @media (--medium) {
    /* lost-column: 12/12; */
    @neat-span-columns 12;
    #enter-email {
      max-width: 400px;
      margin: 60px auto 20px;
    }
  }
  @media (--mediumLarge) {
    /* @neat-span-column */
/*     lost-column: 11/12;
    lost-offset: -0.5/12; */
  }
}


/* // TODO: fixme */

#enter-email {
  position: relative;
}

.Join-form form {
  @media (--medium) {
    position: relative;
  }
  display: block;
}

.Join-form .Join-email {
  margin-top: 70px;
}

.Join-form .Join-email input {
  width: 100%;
  font-family: var(--fontFamily);
  font-size: responsive 15px 24px;
  font-weight: var(--fontWeight);
  /* color: transparent; */
  color: var(--tomato);
  background: transparent;
  padding: 10px 20px;
  position: relative;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: .3s all ease;
  &:focus {
    outline: none;
    color: var(--tomato);
    border: none;
  }
}

.Join-form .Join-email input.full {
  pointer-events: none !important;
  width: 0%;
}

.Join-form .Join-email .indicator {
  /*position: absolute ;*/
  position: absolute auto 0 0;
  height: 3px;
  border-radius: var(--borderRadius);
  background: white;
  transition: .3s all ease;
  z-index: 9;
  font-family: var(--fontFamily);
  &:after {
    content: attr(data-content);
    position: absolute -50px 0 0 0;
    color: color(var(--tomato) saturation(+30) blackness(+30));
    transition: inherit;
    font-size: 24px;
    z-index: 999;
    text-align: left;
  }
}

.Join-form .Join-email input:focus + .indicator {
  height: 100%;
  &:after {
    color: white;
    font-weight: var(--fontWeight);
  }
}

.Join-form .Join-email input.full:focus + .indicator {
  height: 3px;
  color: white;
}


/*----------  Checkbox  ----------*/



/*----------  Recaptcha  ----------*/

#recaptcha div {
  margin: 0 auto;
  text-align: center;
}

#recaptcha-overlay {
  position: absolute;
  width: 304px;
  height: 78px;
  z-index: 2;
  border: 5px solid #f9f9f9;
  pointer-events: none;
  border-radius: var(--borderRadius);
  @media (--small) {
    left: 10px;
  }
}

#vefity-terms-conditions {
  margin-top: 1rem;
  padding: 10px;
}

#verify-human {
  padding: 10px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: none;
  width: 324px;
  @media (--small) {
    margin: 1rem auto;
    padding: 0;
  }
}

.morph-button-fixed,
.morph-button-fixed .morph-content {
  height: 60px;
}


/* Terms */


/* **************************************** */

.Terms {
  /* @mixin btn var(--darkestPurple), var(--tomato); */
  color: color(var(--tomato) saturation(+30) blackness(+30));
  /* color: var(--darkestPurple); */
  section span {
    text-align: center;
    font-size: responsive 20px 24px;
    display: block;
  }
}


/* **************************************** */

#city {
  margin-top: 30px;
  overflow: visible;
}

.chicago {
  fill: none;
  stroke: #94B7C3;
  stroke-dasharray: 7% 35%;
  stroke-width: 3px;
  animation: stroke-offset 12s 1 ease both;
}

.chicago:nth-child(1) {
  stroke: #E8E4CE;
  stroke-dashoffset: 7%;
}

.chicago:nth-child(2) {
  stroke: #DBAB7F;
  stroke-dashoffset: 14%;
}

.chicago:nth-child(3) {
  stroke: #9A5786;
  /* stroke: #BD426A; */
  stroke-dashoffset: 21%;
}

.chicago:nth-child(4) {
  stroke: #2F2547;
  stroke-dashoffset: 28%;
}

.chicago:nth-child(5) {
  stroke: #444786;
  stroke-dashoffset: 35%;
}

.chicago:nth-child(6) {
  stroke: #94B7C3 s;
  stroke-dashoffset: 42%;
}

@keyframes stroke-offset {
  0% {
    stroke-dashoffset: 0 24%;
    stroke-dasharray: 21% 42%;
  }
  50% {
    stroke-dashoffset: 42%;
    stroke-dasharray: 0 105%;
  }
}

.no-overflow {
  overflow: hidden;
  position: fixed;
}


/********* JOIN FORM */


/*=====================================
=            About section            =
=====================================*/

.About {
  background-color: var(--paleBlue);
  color: color(var(--paleBlue) saturation(+85) blackness(+50));
  font-size: responsive 18px 24px;
  line-height: 1.3em;
  .About-container {
    @neat-span-columns 9;
    @neat-shift 1.5;
    /* lost-center: 1140px 30px flex; */
    padding: 2em;
  }
  .About-text {
    @neat-span-columns 6 9;
    /* lost-center: 1140px 30px flex; */

    div {
      margin-bottom: 1em;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .About-slack {
    @neat-span-columns 3 9;
    @neat-omega;
    .svg-container svg {
      padding: 2em 0;
      max-height: 300px;
    }
    path, rect {
      fill: color(var(--paleBlue) saturation(+85) blackness(+50));
    }
  }
}

/*=====  End of About section  ======*/



/* ***************** */


/* ********************* */

body > section {
  &:nth-of-type(4) {
    /* background-color: var(--highlightColor); */
    /* height: 300px; */
  }
  &:nth-of-type(2) {
    /* height: 300px; */
  }
  &:nth-of-type(3) {
    /* background-color: #f9f9f9; */
    /* background-color: color(var(--highlightColor) hue(+10) saturation(-10) lightness(+60)); */
  }
  &:nth-of-type(2) {
    /* background-color: color(var(--highlightColor) hue(-30) saturation(+0) lightness(+20)); */
  }
  &:nth-of-type(1) {
    /* background-color: white; */
  }
}


/* ******************************* */

.morph-button>button {
  background: var(--darkestPurple);
  color: color(var(--darkestPurple) lightness(+40));
  font-weight: var(--fontWeight);
}

.morph-button-fixed > button {
  border-radius: 2px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  line-height: 1;
  letter-spacing: normal;
  cursor: pointer;
  text-transform: none;
  font-size: responsive 14px 18px;
  &:focus,
  &:active {
    outline: none;
  }
}

.morph-button-fixed,
.morph-button-fixed .morph-content {
  display: block;
  @media (--medium) {
    /* width: 200px; */
  }
}

.morph-button.morph-button-overlay {
  margin: 20px auto;
  @media (--medium) {
    /* width: 200px; */
  }
}


/* Overlay */

.morph-button-overlay .morph-content {
  background: var(--darkestPurple);
  color: color(var(--darkestPurple) lightness(+40));
  padding: 0 2em 2em;
  p {
    font-size: responsive 14px 18px;
    line-height: 1.4em;
    margin-bottom: 1em;
  }
  ul {
    margin-left: 2em;
  }
  li {
    margin-bottom: .7em;
  }
  h2 {
    font-weight: var(--fontWeightBold);
    padding: 10px 0;
  }
  h3 {
    font-size: 1.5em;
    font-weight: var(--fontWeightBold);
    margin-bottom: .3em;
  }
}

.content-style-overlay {
  max-width: 900px;
  margin: 0 auto;
  & > span.icon:before {
    font-size: 40px;
    position: absolute;
    right: 30px;
    top: 10px;
  }
}

.toc-wrapper {
  position: relative;
  text-indent: -2em;
  margin-bottom: 2em !important;
  @media (--small) {
    line-height: 1em !important;
  }
}

.morph-button-overlay .morph-content {
  overflow: visible;
}

$purple: color(var(--darkestPurple) lightness(+40));
$transitionSpeed: 200ms;
input[type="checkbox"] + label {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid $purple;
  left: 0;
  transition: all ease-out $transitionSpeed;
  text-indent: 40px;
  white-space: nowrap;
  user-select: none;
  @media (--small) {
    width: 15px;
    height: 15px;
    border: 1px solid $purple;
    text-indent: 20px;
  }
  &:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 15px;
    border-bottom: 3px solid $purple;
    border-left: 3px solid $purple;
    bottom: 5px;
    left: 50%;
    transform-origin: bottom left;
    transform: rotate(-45deg);
    opacity: 0;
    transition: all ease-out $transitionSpeed;
    @media (--small) {
      height: 10px;
      border-bottom: 2px solid $purple;
      border-left: 2px solid $purple;
      bottom: 3px;
    }
  }
}

input[type="checkbox"]:checked + label {
  border: 2px solid $purple;
  @media (--small) {
    border: 1px solid $purple;
  }
  &:after {
    opacity: 1;
    width: 40px;
    @media (--small) {
      width: 20px;
    }
  }
}

#coc {
  display: none;
}

.btn {
  @mixin buttons;
  font-size: responsive 16px 18px;
  a {

    color: var(--paleBlue);
  }
}


/* ********************************************* */


/* Mixins */
@define-mixin icon $name {
    padding-left: 16px;
    &::after {
        content: "";
        background: blue;
    }
}

.search {
    @mixin icon search;
}



/*

.body--has-modal {
  overflow-y: scroll;
}

.wrapper {
  height: 100%;
  overflow-y: scroll;
}

.wrapper--no-scrollbar {
  overflow: hidden;
}
 */


/* @define-mixin icon $network, $color: blue {
    .icon.is-$(network) {
        color: $color;
        @mixin-content;
    }
    .icon.is-$(network):hover {
        color: white;
        background: $color;
    }
}

@mixin icon twitter {
    background: url(twt.png);
}
@mixin icon youtube, red {
    background: url(youtube.png);
}
 */
