doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hello, World!
    block head-css
      //link(href=htmlWebpackPlugin.files.css rel="stylesheet")
    block head-js
      script(src='https://use.typekit.net/aba1yps.js')
      script(type='text/javascript').
        try{Typekit.load({ async: true });}catch(e){}
      script(src='https://www.google.com/recaptcha/api.js' async defer)
      script(type='text/javascript').
        function isHuman() {
          //- var joinButton = document.getElementById("joinButton");
          //- joinButton.style.display = "block";
        }
      script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/97151/modernizr.custom.js")
  body
    block body

    block body-js
