div.Accordion-wrapper
  div.Accordion.closed
    div.Accordion-question Who can join?
    div.Accordion-answer
      p This group is focused on supporting technologists from underrepresented communities, but #[b everyone] is welcome and can contribute to the conversation.
      ul
        li Community members - People of all skill levels are welcome to join, learn, make friends, and get help in improving their technology skills.
        li Community organizers - Chat, share resources, and get support with other diversity-focused organizers in Chicago.
        li Companies  - Support the community and share opportunities with Slack members.
        li Allies - We mean it when we say everyone is welcome. Learn how to be a better ally and support those looking to improve their skills.
      p All members are required to follow the Code of Conduct. Refer to the the community rules and guidelines to ensure the best experience as part of the slack group.
  div.Accordion.closed
    div.Accordion-question Why have ANOTHER slack group? What’s the value of having one focused on diversity?
    div.Accordion-answer
      p Firstly, there are a number of amazing diversity-focused technology groups in Chicago that all bring their own unique value to the community, but there is no widely used, open space where all of these forces can converge.
      p There is also great value in carving out a space where a community can define the culture, values, and overall tone of the group from the very beginning and from the perspective of those who do not often get to do so in the broader technological space.
  div.Accordion.closed
    div.Accordion-question What does “diversity” mean to the CTDI Slack group?
    div.Accordion-answer
      p This is an intentionally anti-sexist, anti-racist, anti-homophobic, anti-transphobic, anti-ablest, anti-discrimination, and anti-harassment space. We value inclusion through and through!

