section.Intro
  include ../_skyline.jade
  .Intro-text
    h3.Intro-text--first We're lucky to have so many amazing technology meetups and organizations in Chicago with a focus on underrepresented groups.
    h2.Intro-text--second Wouldn’t it be amazing if there was a single place for the organizers and members of these groups to learn, collaborate, and discuss the issues they care about?
